[submodule "src/perception_ws/particle_filter"]
	path = src/perception_ws/particle_filter
	url = https://github.com/2025-AILAB-Internship-F1TheBeast/particle_filter.git
[submodule "src/perception_ws/particle_filter_cpp"]
	path = src/perception_ws/particle_filter_cpp
	url = https://github.com/2025-AILAB-Internship-F1TheBeast/particle_filter_cpp.git
[submodule "src/planning_ws/lattice_planner"]
	path = src/planning_ws/lattice_planner
	url = https://github.com/2025-AILAB-Internship-F1TheBeast/lattice_planner.git
